

{%  extends 'template.twig' %}

{% import 'macro.twig'as macro %}

{% block content %}

    {% include("menu.twig") %}


    <article id="sectionGBAF">
        <p>Le GBAF,  est le représentant de la profession bancaire et des assureurs sur tous les axes de la
        réglementation financière française.</p>
        <p>Des informations portant sur des produits bancaires et des financeurs seront basés sur vos votes et commentaires.
        GBAF souhaite vous proposer un point d’entrée unique, avec un maximum d’informations sur nos partenaires.</p>
    </article>

   <a id ="photo" href="index.php?action=user!connexion"><img id="sliderGBAF" src="images/sliderGBAF.jpg" alt="logoGBAF" title="logoGBAF"></a></div>

    <article id="sectionPartner">

        <section>
        {{  macro.partenaire('CDE') }}
        {% include ('CDE.twig') %}
        </section>

        <section>
        {{  macro.partenaire('Dsa_france') }}
        {% include ('Dsa_france.twig')  %}
        </section>

        <section>
        {{  macro.partenaire('formation_co') }}
        {% include ('formation_co.twig') %}
        </section>

        <section>
        {{  macro.partenaire('protectpeople') }}
        {% include ('protectpeople.twig') %}
        </section>
    </article>



    <p>ici {{ partner }}</p>

    <p> avec variable ici {{ partner |truncate(15) }}</p>

    {{ partner | truncate(4) }}


{% endblock %}