{%  extends 'template.twig' %}

{% import 'macro.twig'as macro %}

{% block content %}



<link href="css/form.css" rel="stylesheet">

    <h1>FORMULAIRE DE CONNEXION</h1>

    <form id="connexion" method="post" action="index.php?action=back!check_mdp">



        <div class="form-group">
            <label  for="username">Votre username</label>
            <input  type="text" class="form-control" id="username" aria-describedby="username" placeholder="Votre username" name="username" value="{{ register.username }}">
        </div>

        <div class="form-group">
            <label  for="user_password">Votre mot de passe</label>
            <input  type="password" class="form-control" id="user_password" aria-describedby="user_password" placeholder="Votre mot de passe" name="user_password" required="required" value="{{ register.password }}">
        </div>

        {{ erreur|raw }}

        {% if register.username is not defined%}
             {{ macro.checkbox('register', 'Se souvenir de moi') }}
        {% else %}
            {{ macro.checkbox('wipe_register', 'Ne plus se souvenir de moi') }}
        {% endif %}

        
       {{ macro.submit('connexion') }}

        <div>
            <a href="index.php?action=user!mdp_forget">Mot de passe oublié</a>
        </div>
        <div>
            <a href="index.php?action=user!inscription">Créer un compte</a>
        </div>

    </form>

{% endblock %}


