{%  extends 'template.twig' %}

{% import 'macro.twig'as macro %}

{% block content %}
<div id="content_inscription">

    <h2>FORMULAIRE D'INSCRIPTION</h2>

    <form id ="inscription" method="post" action="index.php?action=user!control_double">

        {{ macro.input('last_name', 'Nom','text') }}
        {{ macro.input('first_name', 'Prénom','text') }}
        {{ macro.input('username', 'Username','text') }}
        {{ macro.input('user_password', 'Password','password') }}

        <div class="champs">
            <label for="question" id="label_question">Question secrète</label>
            <select name="question" id="question">
                <option value="mother">Quel est le prénom de votre mère?</option>
                <option value="pets">Quel était le nom de votre premier animal de compagnie?</option>
                <option value="color">Quelle est votre couleur préférée?</option>
            </select>
        </div>

        {{ macro.input('answer', 'Réponse','text') }}

        {{ macro.submit('envoyer') }}

    </form>

    <section id="lien">
        <a href="index.php?action=user!connexion"> Vous avez déjà un compte </a>
    </section>

<div>

{% endblock %}




