{% macro input(name, label, type) %}
    <div class="champs">
        <label  for="{{ name }}">{{ label }}</label>
        <input  type="{{ type }}" id="{{ name }}" aria-describedby="{{ name }}" placeholder="{{ label }}" name="{{ name }}" required="required">
    </div>
{% endmacro input%}

{% macro textarea(name, label) %}
    <div class="champs">
        <label  for="{{ name }}">{{ label }}</label>
        <textarea id="{{ name }}" aria-describedby="{{ name }}" placeholder="{{ label }}" name="{{ name }}" required="required"></textarea>
    </div>
{% endmacro textarea %}


{% macro submit(text) %}
    <div class="champs">
        <input type="submit" id="submit" value="{{ text }}" />
    </div>
{% endmacro submit %}


{% macro checkbox(for, text) %}
            <label id="{{ for }}" for="{{ for }}">{{ text }}</label>
            <input type="checkbox" id="{{ for }}" name="{{ for }}" placeholder="{{ for }}" >
{% endmacro checkbox %}


{% macro partenaire(nom) %}
    <img id="logoPartner" src="images/{{ nom }}.png" alt="logo{{ nom }}" title="logo{{ nom }}">
{% endmacro partenaire %}

