{%  extends 'template.twig' %}

{% import 'macro.twig'as macro %}

{% block head %}
    - {{ partner.acteur}}
{% endblock %}

{% block content %}

{% if session is defined %}
                <div id="content_partner">

    <p id="return_partner"><a href="index.php?action=partner!connected_partner"> <i class="fas fa-arrow-left"></i> Retour à la liste des partenaires</a></p>

                    <section id="partner">
                        <img src="images/{{ partner.logo}}" alt="image_Partner">
                        <h2 id="partner_title">{{ partner.acteur}}</h2>
                        <a id="lien" href="{{ partner.lien}}">{{ partner.lien}}</a>
                        <br>
                        <p>{{ partner.description | nl2br }}</p>
                    </section>

            {% if comment != 'comment' %}
                    <section id="comments">

                        <article id="title_comments">
                            <aside>
                                <span>{{ comments | length }}</span> Commentaires
                            </aside>
                            <aside>
                                <div class="button"><a href="index.php?partner={{ partner.id_acteur}}&action=partner!view_comment">Nouveau commentaire</a></div>
                                <div class="button">
                                    <span style="color:darkgreen" >{{ comments_up | length }}</span><a href="index.php?partner={{ partner.id_acteur}}&action=partner!good"><i id ="thumb_good_resume" class="fas fa-thumbs-up" {% if opinion == 'good' %} style="color:darkgreen" {% else %} style="color:rgba(204,204,204,0.8)" {% endif %}></i></a>
                                    <span style="color:red; margin-left: 10px" >{{ comments_down | length }}</span><a href="index.php?partner={{ partner.id_acteur}}&action=partner!bad"><i id ="thumb_bad_resume" class="fa fa-thumbs-down" {% if opinion == 'bad' %} style="color:red" {% else %} style="color:rgba(204,204,204,0.8)" {% endif %}></i></a>
                                    <br><br><i style="color:red ; display:block ;margin-left: -45px; width: 150px">{{ message }}</i>
                                </div>

                            </aside>
                        </article>

                        {% for comment in comments %}
                        <article class="content_comment">
                            <article>
                                <p class="comment">{{ comment.prenom |capitalize }}</p>
                                <p class="comment"><i>{{ comment.date_creation}}</i></p>
                                <p class="comment">{{ comment.post}}</p>
                            </article>
                        </article>
                        {% endfor %}
                    </section>

                </div>

            {% else %}

                <section id="add_comments">

                    <p id="title_addcomment">Ajouter votre commentaire</p>

                        <form id="add_comment" method="post" action="index.php?action=back!add_com">

                            <div class="clean">
                                <label  for="id_acteur">id_acteur</label>
                                <input  type="text" id="id_acteur" name="id_acteur" required="required" value="{{ partner.id_acteur}}">
                            </div>
                            <label  class=clean for="comment"> Votre commentaire</label>
                            <textarea id="comment" placeholder="Votre commentaire" name="comment" required="required" ></textarea>
                            <input type="submit" id="submit_com" value="envoyer" />

                        </form>

                         <section id="return">
                           <a href="index.php?partner={{ partner.id_acteur }}&action=partner!actor"><i class="fas fa-times"></i>Abandon</a>
                         </section>

                </section>

            {% endif %}

{% else %}

    <p> Merci de vous identifier.</p>

{% endif%}


{% endblock %}
