{%  extends 'template.twig' %}

{% import 'macro.twig'as macro %}

{% block head %}
    - votre profil
{% endblock %}

{% block content %}

<article id="profile">

     <a href="index.php?action=partner!connected_partner"> <i class="fas fa-arrow-left"></i> Retour à l'accueil</a>

    <h2> Votre Profil </h2>
   {%   if change is defined %}
        <form id="change_profile" method="post" action="index.php?action=back!change_profile">
            {% else %}
            <form id="change_profile">
   {% endif %}

            <div class="champs">
                <label  for="first_name">Nom</label>
                {%   if change is defined %}
                    <p> {{ session.nom }} </p>
                    <i>Modifié par</i><input  type="text" id="first_name" class="input_modif" aria-describedby="first_name"  name="first_name" placeholder="{{ session.nom }}">
                    {% else %}
                    <p> {{ session.nom }} </p>
                {% endif %}
            </div>

            <div class="champs">
                <label for="last_name">Prénom</label>
                {%   if change is defined %}
                    <p> {{ session.prenom }} </p>
                    <i>Modifié par</i><input  type="text" id="last_name" class="input_modif" aria-describedby="last_name"  name="last_name" placeholder="{{ session.prenom  }}">
                {% else %}
                    <p> {{ session.prenom }}</p>
                {% endif %}
            </div>

            <div class="champs">
                <label for="username">Username</label>
                {%   if change is defined %}
                    <p>  {{ session.username }} </p>
                    <i>Modifié par</i><input type="text" id="username" class="input_modif" aria-describedby="username"  name="username"  placeholder="{{ session.username }}">
                {% else %}
                    <p>  {{ session.username }} </p>
                {% endif %}
            </div>

            <div class="champs">
            <label for="user_password">Password</label>
                {%   if change is defined %}
                    <p> XXXXXXXX </p>
                    <i>Modifié par</i><input  type="text" id="user_password" class="input_modif" aria-describedby="user_password"  name="user_password"  placeholder="XXXXXXXX">
                   {% else %}
                    <p> XXXXXXXX </p>
                {% endif %}
            </div>


  {%   if change is defined %}
            {{ macro.submit('Enregistrer') }}

       </form>
   {% endif %}

    {%   if change is  defined %}
        <aside id="lien">
           <a  style="text-align: right" href="index.php?action=user!profile_show">Retour à votre profil</a>
        </aside>
    {% else %}
         </form>
        <aside id="lien">
            <a  href="index.php?action=user!change_profile"> Modifier Votre profil</a>
        </aside>
    {% endif %}

</article>

{% endblock %}