{%  extends 'template.twig' %}

{% import 'macro.twig'as macro %}

{% block content %}

    <link href="css/form.css" rel="stylesheet">


{% include("menu.twig") %}

<article id="profile">

    <h1> Votre Profil </h1>
   {%   if change is defined %}
        <form id="change_profile" method="post" action="index.php?action=back!change_profile">
   {% endif %}

           <label  for="first_name">Nom</label>
                {%   if change is defined %}
                    <span> {{ session.nom }} </span>
                    <input  type="text" id="first_name" aria-describedby="first_name"  name="first_name" placeholder="{{ session.nom }}">
                    {% else %}
                    <span> {{ session.nom }} </span>
                {% endif %}

            <br>

            <label for="last_name">Prénom</label>
                {%   if change is defined %}
                    <span> {{ session.prenom }} </span>
                    <input  type="text" id="last_name" aria-describedby="last_name"  name="last_name" placeholder="{{ session.prenom  }}">
                {% else %}
                    <span> {{ session.prenom }}</span>
                {% endif %}

            <br>

            <label for="username">Username</label>
                {%   if change is defined %}
                    <span>  {{ session.username }} </span>
                    <input type="text" id="username" aria-describedby="username"  name="username"  placeholder="{{ session.username }}">
                {% else %}
                    <span>  {{ session.username }} </span>
                {% endif %}

            <br>

            <label for="user_password">Votre Password</label>
                   {%   if change is defined %}
                    <span> XXXXXXXX </span>
                   <input  type="text" id="user_password" aria-describedby="user_password"  name="user_password"  placeholder="XXXXXXXX">
                   {% else %}
                    <span> {{ password }} </span>
                {% endif %}

            <br>

  {%   if change is defined %}
            {{ macro.submit('Enregistrer les modifications') }}
       </form>
   {% endif %}

    {%   if change is  defined %}

           <a  style="text-align: right" href="index.php?action=user!profile_show">Retour à votre profil</a>
    {% else %}
            <a  href="index.php?action=user!change_profile"> Modifier Votre profil</a>
    {% endif %}



    </article>

{% endblock %}